@model GrodHotelBackend.Models.Hotels

@{
    ViewData["Title"] = "Delete hotel";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<p class="display-4">Are you sure you want to delete this?</p>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>
        <dt class="col-sm-2">
            Hotel Chain
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelsChain.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trending)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trending)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SmallImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SmallImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var room in Model.Rooms)
                {
                    <li>
                        <a asp-controller="RoomsCRUD" asp-action="Details" asp-route-id="@room.Id">@room.Name</a>
                    </li>
                }
            </ul>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>