@using GrodHotelBackend.Models; 
@model Rooms
@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div>
        <h2>@Model.Name - @Model.Price€/night</h2>
        <blockquote>
            <p>@Model.Description</p>
        </blockquote>
        <figure>
            <picture>
                <source media="(min-width: 700px)" srcset="@Model.Image">
                <img src="@Model.SmallImage" alt="@Model.Name">
            </picture>
        </figure>
    </div>
    <div>
        <h2>Reserve this room</h2>
        <form asp-controller="Booking" asp-action="Create" data-widget="room_form">
            <div class="input_group_container">
                <fieldset>
                    <label for="entry_date">Entry date</label>
                    <input type="date" data-hook="entry_date" name="EntryDate" id="entry_date" required />
                    <img src="~/Content/svg/calendar.svg" class="form_icon" alt="Entry date" />
                </fieldset>
                <fieldset>
                    <label for="leaving_date">Leaving date</label>
                    <input type="date" data-hook="leaving_date" name="LeavingDate" id="leaving_date" required />
                    <img src="~/Content/svg/calendar.svg" class="form_icon" alt="Leaving date" />
                </fieldset>
            </div>
            <div class="input_group_container">
                <fieldset>
                    <label for="numberAdults">Number of adults</label>
                    <input id="numberAdults" data-hook="numberAdults" type="number" name="AdultNumbers" value="2" required />
                    <img src="~/Content/svg/man.svg" class="form_icon" alt="Number of adults" />
                </fieldset>
                <fieldset>
                    <label for="numberMinors">Number of minors</label>
                    <input id="numberMinors" data-hook="numberMinors" type="number" name="MinorNumbers" value="0" required />
                    <img src="~/Content/svg/child.svg" class="form_icon" alt="Number of minors" />
                </fieldset>
            </div>
            @if (Model.RoomComodities.Count != 0)
            {
                <div class="input_group_container">
                    <fieldset>
                        <h2 class="">Additional services</h2>
                        @foreach (var commodity in Model.RoomComodities)
                        {
                            <label for="@commodity.Comodities.Id" class="control_input_checkbox_radio control-checkbox">
                                @commodity.Comodities.Name
                                <input type="checkbox" id="@commodity.Comodities.Id" value="@commodity.Comodities.Id" name="@commodity.Comodities.Id" />
                                <span class="input_checkbox_radio_indicator"></span>
                            </label>
                        }
                    </fieldset>
                </div>
            }
                <input type="hidden" name="RoomsId" value="@Model.Id" />
                <input type="hidden" name="TotalPrice" value="@Model.Price" />
                <fieldset>
                    <button class="send_button">Book this room</button>
                </fieldset>
            </form>
    </div>
</main>