@using GrodHotelBackend.Models;
@model Rooms
@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div>
        <h2>@Model.Name</h2>
        <blockquote>
            <p>
                This room from <a asp-controller="Hotel" asp-action="@Model.HotelsId">GROD Hotel</a> is especially bright and very spacious. From the
                bed you can enjoy a large arched window with original mouldings, and through it some fantastic views
                of the city. Decorated with modern furniture that will cautivate the costumers of this room.
            </p>
        </blockquote>
        <figure>
            <picture>
                <source media="(min-width: 700px)" srcset="@Model.Image">
                <img src="@Model.SmallImage" alt="@Model.Name">
            </picture>
        </figure>
        </div>
    <div>
        <h2>Reserve this room</h2>
        <form asp-controller="Booking" asp-action="@Model.Slug" data-widget="room_form" method="POST">
            <div class="input_group_container">
                <fieldset>
                    <label for="entry_date">Entry date</label>
                    <input type="date" data-hook="entry_date" id="entry_date" required />
                    <img src="~/Content/svg/calendar.svg" class="form_icon" alt="Entry date" />
                </fieldset>
                <fieldset>
                    <label for="leaving_date">Leaving date</label>
                    <input type="date" data-hook="leaving_date" id="leaving_date" required />
                    <img src="~/Content/svg/calendar.svg" class="form_icon" alt="Leaving date" />
                </fieldset>
            </div>
            <div class="input_group_container">
                <fieldset>
                    <label for="numberAdults">Number of adults</label>
                    <input id="numberAdults" data-hook="numberAdults" type="number" name="numberAdults" value="2" required />
                    <img src="~/Content/svg/man.svg" class="form_icon" alt="Number of adults" />
                </fieldset>
                <fieldset>
                    <label for="numberMinors">Number of minors</label>
                    <input id="numberMinors" data-hook="numberMinors" type="number" name="numberMinors" value="0" required />
                    <img src="~/Content/svg/child.svg" class="form_icon" alt="Number of minors" />
                </fieldset>
            </div>
            <fieldset>
                <button class="send_button">See availability</button>
            </fieldset>
        </form>
    </div>
</main>