@model GrodHotelBackend.Controllers.SearchController.ViewModel;
@{
    ViewBag.PageName = "search";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div>
        <h2>Search</h2>
        <form action="Search" data-widget="search_form" method="POST">
            <div class="input_group_container">
                <fieldset>
                    <label for="entry_date">Entry date</label>
                    <input type="date" data-hook="entry_date" id="entry_date" required />
                    <img src="~/Content/svg/calendar.svg" class="form_icon" alt="Entry Date" />
                </fieldset>
                <fieldset>
                    <label for="leaving_date">Leaving date</label>
                    <input type="date" data-hook="leaving_date" id="leaving_date" required />
                    <img src="~/Content/svg/calendar.svg" class="form_icon" alt="Leaving Date" />
                </fieldset>
            </div>
            <div class="input_group_container">
                <fieldset>
                    <label for="min_price">Min price</label>
                    <input type="number" data-hook="min_price" id="min_price" required />
                    <img src="~/Content/svg/coin-euro.svg" class="form_icon" alt="Min Price" />
                </fieldset>
                <fieldset>
                    <label for="max_price">Max price</label>
                    <input type="number" data-hook="max_price" id="max_price" required />
                    <img src="~/Content/svg/coin-euro.svg" class="form_icon" alt="Max Price" />
                </fieldset>
            </div>
            <div class="input_group_container">
                <fieldset>
                    <label for="numberAdults">Number of adults</label>
                    <input id="numberAdults" type="number" data-hook="numberAdults" min="1" max="10" name="numberAdults"
                           value="2" />
                    <img src="~/Content/svg/man.svg" class="form_icon" alt="Number of Adults" />
                </fieldset>
                <fieldset>
                    <label for="numberMinors">Number of minors</label>
                    <input id="numberMinors" type="number" data-hook="numberMinors" min="0" max="10" name="numberMinors"
                           value="0">
                    <img src="~/Content/svg/child.svg" class="form_icon" alt="Number of Minors" />
                </fieldset>
            </div>
            <fieldset>
                <label for="city">City</label>
                <div class="select">
                    <select data-hook="city" name="city" required>
                        <option value="" disabled selected>Select a city</option>
                        @foreach (var city in Model.Cities.OrderBy(el => el.Name))
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                    <div class="select_arrow"></div>
                </div>
            </fieldset>
            <button type="submit" class="send_button">Send</button>
        </form>
    </div>

    <div>
        <h2>Results</h2>
        @foreach (var room in Model.Rooms)
        {
        <div>
            <h2>@room.Description</h2>
            <figure>
                <a asp-controller="Room" asp-action="@room.Id">
                    <picture>
                        <source media="(min-width: 700px)" srcset="@room.Image">
                        <img src="@room.SmallImage" alt="Room @room.Id">
                    </picture>
                </a>
            </figure>
            <figcaption>
                <cite>GROD Hotel suite</cite>. Photo from <a href="https://pixabay.com/es/photos/habitaci%C3%B3n-de-hotel-cama-almohadas-1447201/"
                                                             title="Go to &quot;Olichel&quot; profile from &quot;Pixabay&quot;">Olichel</a>.
            </figcaption>
        </div>
        }
    </div>
</main>

