@model GrodHotelBackend.Controllers.HomeController.ViewModel;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<header>
    <nav>
        <input type="checkbox" id="nav_check" />
        <!-- Hamburger menu on mobile version -->
        <div id="mobile_nav_button">
            <label aria-label="Toggle main menu" for="nav_check">
                <!-- Lines of hamburger icon -->
                &Congruent;
            </label>
        </div>
        <ul id="nav_links">
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Search" asp-action="Index">Search</a></li>
            <li><a asp-controller="About" asp-action="Index">About</a></li>
            <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
            <li><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
        </ul>
    </nav>
    <img id="img_logo" src="~/Content/img/logo-350px.png" alt="GROD Hotel" />

    <video width="100" autoplay loop muted>
        <source src="~/Content/video/hotel.mp4" type="video/mp4">
    </video>
    <form action="Search" data-widget="index_form" method="POST">
        <div class="input_group_container">
            <fieldset>
                <label for="entry_date">Entry date</label>
                <input type="date" data-hook="entry_date" name="entry_date" required />
                <img src="~/Content/svg/calendar.svg" class="form_icon" alt="Entry Date" />
            </fieldset>
            <fieldset>
                <label for="leaving_date">Leaving date</label>
                <input type="date" data-hook="leaving_date" name="leaving_date" required />
                <img src="~/Content/svg/calendar.svg" class="form_icon" alt="Leaving Date" />
            </fieldset>
        </div>
        <div class="input_group_container">
            <fieldset>
                <label for="numberAdults">Number of adults</label>
                <input id="numberAdults" type="number" data-hook="numberAdults" min="1" max="10" name="numberAdults"
                       value="2" />
                <img src="~/Content/svg/man.svg" class="form_icon" alt="Number of Adults" />
            </fieldset>
            <fieldset>
                <label for="numberMinors">Number of minors</label>
                <input id="numberMinors" type="number" data-hook="numberMinors" min="0" max="10" name="numberMinors"
                       value="0">
                <img src="~/Content/svg/child.svg" class="form_icon" alt="Number of Minors" />
            </fieldset>
        </div>
        <fieldset>
            <label for="city">City</label>
            <div class="select">
                <select name="city" data-hook="city" id="city" required>
                    <option value="" disabled selected>Select a city</option>
                    @foreach (var city in Model.Cities.OrderBy(el => el.Name))
                    {
                        <option value="@city.Id">@city.Name</option>
                    }
                </select>
                <div class="select_arrow"></div>
            </div>
        </fieldset>
        <button type="submit" class="send_button">Send</button>
    </form>
</header>

<main id="layout_main">
    <div>
        <h2>Most Liked</h2>
        <div id="most_liked_hotels_container">
            @foreach (var hotel in Model.Hotels)
            {
                if (hotel.Trending)
                {
                    <div>
                        <h2>@hotel.Name</h2>
                        <figure>
                            <a asp-controller="Hotel" asp-action="@hotel.Id">
                                <picture>
                                    <source media="(min-width: 700px)" srcset="@hotel.Image">
                                    <img src="@hotel.SmallImage" alt="@hotel.Name">
                                </picture>
                            </a>
                        </figure>
                    </div>
                }
            }
        </div>
    </div>

    <div>
        <h2>Customer reviews</h2>
        <ul>
            @foreach (var client in Model.Clients)
            {
                if (client.Comments != null)
                {
                    <li class="user_info">
                        @if (client.Image == null)
                        {
                            <img src="~/Content/img/placeholder_user.png" alt="@client.Name" />
                        }
                        else
                        {
                            <img src=@client.Image alt=@client.Name />
                        }
                    <div class="comments">
                        <p><em>"@client.Comments"</em></p>
                        <p><strong>@client.Name</strong></p>
                    </div>
                    </li>
                }
            }
        </ul>
    </div>
</main>