@model GrodHotelBackend.Controllers.HomeController.ViewModel;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<main id="layout_main">
    <div>
        <h2>Most Liked</h2>
        <div id="most_liked_hotels_container">
            @foreach (var hotel in Model.Hotels)
            {
                if (hotel.Trending)
                {
                    <div>
                        <h2>@hotel.Name</h2>
                        <figure>
                            <a asp-controller="Hotel" asp-action="@hotel.Id">
                                <picture>
                                    <source media="(min-width: 700px)" srcset="@hotel.Image">
                                    <img src="@hotel.SmallImage" alt="@hotel.Name">
                                </picture>
                            </a>
                        </figure>
                    </div>
                }
            }
        </div>
    </div>

    <div>
        <h2>Comments</h2>
        <ul>
            @foreach (var client in Model.Clients)
            {
                if (client.Comments != null)
                {
                    <li>
                        <div class="user_info">
                            @if (client.Image == null)
                            {
                            <img src="~/Content/img/default_user.png" alt="@client.Name" />
                            }
                            else
                            {
                            <img src="@client.Image" alt="@client.Name" />
                            }
                            <p><strong>@client.Name</strong></p>
                        </div>
                        <p>
                            <em>
                                @client.Comments
                            </em>
                        </p>
                    </li>
                }
            }
        </ul>
    </div>
</main>