@model GrodHotelBackend.Models.Hotels

@{
    ViewData["Title"] = "HotelList";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<h1>HotelList</h1>

<div>
    <h4>Hotels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelsChain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelsChain.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cities.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
