@using GrodHotelBackend.Models;
@model Hotels
@{
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<main id="layout_main">
    <div>
        @if (!ViewBag.Available)
        {
            <div>
                NOT AVAILABLE
            </div>
        }
        <h2>@Model.Name</h2>
        <blockquote>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, fugit perspiciatis. 
                Voluptate blanditiis impedit quod minima facilis laudantium quasi quia reprehenderit 
                temporibus magni velit tenetur repellat cumque id voluptatibus, delectus in nisi amet ipsa possimus nihil ullam!
            </p>
            <p>
                Voluptates culpa recusandae exercitationem sint pariatur ipsum harum corporis suscipit quo cupiditate. 
                Odio laudantium itaque nesciunt recusandae in officiis voluptate alias vero beatae, cupiditate labore maxime esse, 
                ea quasi mollitia aspernatur est explicabo, culpa illo magni reprehenderit doloremque facilis pariatur.
            </p>
            <p>
                Officiis pariatur ut a temporibus qui impedit recusandae, numquam voluptates saepe incidunt tempore dolore facere expedita itaque, 
                inventore vero repellat eligendi suscipit quaerat. Temporibus voluptates veritatis nisi quisquam quis iure aliquid quia porro soluta sit, 
                culpa eius libero ex ullam voluptate reiciendis ipsum corrupti officia, autem facilis tenetur. Maxime iste tenetur cupiditate, 
                assumenda asperiores nostrum excepturi error cumque nobis totam beatae commodi?
            </p>
        </blockquote>
        <figure>
            <picture>
                <source media="(min-width: 700px)" srcset="@Model.Image">
                <img src="@Model.SmallImage" alt="GROD Hotel">
            </picture>
        </figure>
        <table class="custom_table">
            <thead>
                <tr>
                    <th scope="col">
                        <p>It contains...</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Gym</td>
                </tr>
                <tr>
                    <td>Parking</td>
                </tr>
                <tr>
                    <td>SPA</td>
                </tr>
                <tr>
                    <td>Amazing views</td>
                </tr>
                <tr>
                    <td>Breakfast and dinner</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Rooms availables</h2>
        @if (Model.Rooms.Count() == 0)
        {
            <p>We are sorry! There are no rooms available in this hotel at the moment.</p>
        }
        else
        {
            <ul class="rooms_list">
                @foreach (var room in Model.Rooms)
                {
                    <li>
                        <img src="@room.SmallImage" alt="@room.Name" />
                        <h3>
                            <a role="button" asp-controller="Room" asp-action="Index" asp-route-id="@room.Id">@room.Name</a>
                        </h3>
                    </li>
                }
            </ul>
        }
    </div>
</main>